@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(be.jpg);
    background-size: cover;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rbga(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

main > h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 1em;
}

main > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

main > section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > section > article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main > section > article > h2 {
    font-size: 34px;
    text-align: center;
}

main > section > article > h3 {
    font-size: 26px;
}

main > section > article > p,
main > section> article > ol > li {
    text-align: justify;
    font-size: 22px;
}
